<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>BeerPartyLogin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>beerparty</string>
			</array>
		</dict>
	</array>
	<key>SUPABASE_URL</key>
	<string>$(SUPABASE_URL)</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>$(SUPABASE_ANON_KEY)</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>BeerParty uses your photo library so you can choose a profile picture.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>BeerParty uses your location to show your pin to lobby members while sharing is enabled.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>BeerParty can share your location in the background if you enable background sharing.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>BeerParty can share your location in the background if you enable background sharing.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
</dict>
</plist>
